@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.road-title {
    text-align: center;
    font-size: 3vw;
    margin-top: 5vw;
    margin-bottom: 3vw;
    font-family: "Noto Sans KR", sans-serif;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .map-container {
    max-width: 100vw;
    max-height: 100vh;
    width: 70vw;
    height: 50vh;
    margin-bottom: 20px;
  }
  
  .map {
    width: 100%;
    height: 100%;
  }

  .road-info {
    text-align: left; /* 왼쪽 정렬 */
    margin-left: 10vw;
    width: 80%; /* 원하는 너비로 설정 */
    margin-top: 5vw;
  }
  
  .road-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    transform: translateY(20px); /* 처음에는 아래로 20px 이동 */
    opacity: 0; /* 처음에는 투명 */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

    .road-details.visible {
        transform: translateY(0); /* 제자리로 돌아옴 */
        opacity: 1; /* 불투명 */
    }
  
  .road-label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.3vw;
    margin-right: 1.5vw;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  .road-name {
    margin-left: 5px;
    font-size: 1.1vw;
    font-family: "Noto Sans KR", sans-serif;
  }

  .footer-container{
    margin-top: 3vw;
  }

  /* 모바일 화면에서 스타일 조정 */
@media screen and (max-width: 768px) {
    .road-title {
        font-size: 10vw; /* 모바일 화면에서 폰트 크기 증가 */
        margin-top: 10vw;
        margin-bottom: 15vw;
    }

    .contact-container {
        height: auto; /* 모바일에서는 자동 높이 */
        padding: 20px;
    }

    .map-container {
        width: 90vw; /* 맵을 모바일에 맞게 넓게 */
        height: 40vh; /* 높이는 적당하게 */
        margin-bottom: 20px;
    }

    .road-info {
        width: 90%; /* 모바일에서 조금 더 넓게 설정 */
    }

    .road-details {
        flex-direction: row; /* 가로 정렬 유지 */
        justify-content: space-between; /* 라벨과 내용이 화면에 맞게 배치되도록 조정 */
        align-items: center; /* 세로 가운데 정렬 */
        margin-bottom: 10px;
        width: 100%; /* 가로 공간을 전부 사용 */
    }

    .road-label {
        margin-right: 10px; /* 모바일에서도 가로 간격 유지 */
        margin-bottom: 0;
        font-size: 3vw;
    }

    .road-name {
        margin-left: 5px;
        flex-grow: 1; /* 가로로 넓게 차지하도록 설정 */
        text-align: left; /* 텍스트는 왼쪽 정렬 */
        font-size: 3vw;
    }

    .footer-container{
        margin-top: 2vw;
    }

    .footer {
        margin-top:10vw;
    }
}
